{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<br>
<h2>{% trans 'Labels' %}</h2>
<form action="{% url 'create_label' %}">
    <button class="btn btn-outline-success">{% trans 'Create label' %}</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Creation date' %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for label in object_list %}
  <tbody>
    <tr>
      <th scope="row">{{ label.id }}</th>
      <td>{{ label.name }}</td>
      <td>{{ label.created_at }}</td>
      <td> <form action="{% url 'update_label' pk=label.id %}">
      <button class="btn btn-outline-success">{% trans 'Change' %}</button>
      </form>
      <form action="{% url 'delete_label' pk=label.id %}">
      <button class="btn btn-outline-success">{% trans 'Delete' %}</button>
      </form>
      </td>
    </tr>
  </tbody>
  {% endfor %}
  </table>
{% endblock %}