{% extends 'index.html' %}

{% block content %}

<h2>Statuses</h2>
<form action="{% url 'create_status' %}">
    <button class="btn btn-secondary btn-lg">Create status</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Creation date</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for status in object_list %}
  <tbody>
    <tr>
      <th scope="row">{{ status.id }}</th>
      <td>{{ status.name }}</td>
      <td>{{ status.created_at }}</td>
      <td> <form action="{% url 'update_status' pk=status.id %}">
      <button class="btn btn-secondary btn-sm">Изменить</button>
      </form>
      <form action="{% url 'delete_status' pk=status.id %}">
      <button class="btn btn-secondary btn-sm">Удалить</button>
      </form>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}