{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<br>
<div class="container col-10">
<h2>{% trans 'Tasks' %}</h2>
  <form action="{% url 'create_task' %}">
    <button class="btn btn-outline-success">{% trans 'Create task' %}</button>
</form>
<form method="get">
        {% bootstrap_form filter.form %}
      <br>
    <button type="submit" class="btn btn-outline-success">{% trans 'Show' %}</button>
    </form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">{% trans 'Name' %}</th>
      <th scope="col">{% trans 'Status' %}</th>
      <th scope="col">{% trans 'Author' %}</th>
      <th scope="col">{% trans 'Performer' %}</th>
      <th scope="col">{% trans 'Creation date' %}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for task in object_list %}
  <tbody>
    <tr>
      <th scope="row">{{ task.pk }}</th>
      <td><a href="{% url 'view_task' pk=task.id %}">{{ task.name }}</a></td>
      <td>{{ task.status.name }}</td>
      <td>{{ task.creator.first_name }} {{ task.creator.last_name }}</td>
      <td>{{ task.performer }}</td>
      <td>{{ task.created_at }}</td>
      <td> <form action="{% url 'update_task' pk=task.id %}">
      <button class="btn btn-outline-success">{% trans 'Change' %}</button>
      </form>
      <form action="{% url 'delete_task' pk=task.id %}">
      <button class="btn btn-outline-success">{% trans 'Delete' %}</button>
      </form>
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}