{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block content %}
<br>
<h2>{% trans 'Task view' %}</h2>
<br>
<div class="jumbotron">

  <h1 class="display-4">{{ task.name }}</h1>
  <p class="lead">{{ task.description }}</p>
  <hr class="my-4">
  <p>{% trans 'Author' %}: {{ task.creator.first_name }} {{ task.creator.last_name }}</p>
  <p>{% trans 'Performer' %}: {{ task.performer }}</p>
  <p>{% trans 'Status' %}: {{ task.status.name }}</p>
  <p>{% trans 'Creation date' %}: {{ task.created_at }} </p>
  <p>{% trans 'Label' %}:
  {% for tag in task.label.all %}
    <ul>

  <li>{{ tag.name }}</li>
  </ul>
  </p>
  {% endfor %}
  <form action="{% url 'update_task' pk=task.id %}">
  <button type="submit" class="btn btn-outline-success">{% trans 'Change' %}</button>
  </form>
  <form action="{% url 'delete_task' pk=task.id %}">
  <button type="submit" class="btn btn-outline-success">{% trans 'Delete' %}</button>
  </form>
</div>
{% endblock %}

