{% extends 'index.html' %}

{% block content %}
<h2>Task view</h2>
<div class="jumbotron">
  <h1 class="display-4">{{ task.name }}</h1>
  <p class="lead">{{ task.description }}</p>
  <hr class="my-4">
  <p>Author: {{ task.creator.first_name }} {{ task.creator.last_name }}</p>
  <p>Performer: {{ task.performer }}</p>
  <p>Status: {{ task.status.name }}</p>
  <p>Creation date: {{ task.created_at }} </p>
  <p>Tags:
  {% for tag in tag_id %}
  {{ tag.name }}</p>
  {% endfor %}
  <p></p>
  <form action="{% url 'update_task' pk=task.id %}">
  <button type="submit" class="btn btn-outline-success">Edit</button>
  </form>
  <form action="{% url 'delete_task' pk=task.id %}">
  <button type="submit" class="btn btn-outline-success">Delete</button>
  </form>
</div>
{% endblock %}

